@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	/* --dark-color-a: #a5a5a5; */
	/* --dark-color-a: #1dbe88; */
	--dark-color-a: #06b3a4;
	--dark-color-b: #6bd3ca;
	--light-color: whitesmoke;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}


/* Join Page */
.btn {
	cursor: pointer;
	padding: 10px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

.le-chat-name {
	font-size: 3rem;
}

.cat-icon-left  {
	padding-right: 30px;
	font-size: 3rem;
	color: #303030;
}
.cat-icon-right {
	padding-right: 30px;
	font-size: 3rem;
	color: #303030;
}

.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}
